[submodule "projects/compiler-rt"]
	path = projects/compiler-rt
	url = https://github.com/llvm-mirror/compiler-rt
[submodule "tools/clang"]
	path = tools/clang
	url = https://github.com/llvm-mirror/clang
